//@import "css/F1D8FF4EEBEFD386E.css";

@import url('https://engage.msu.edu/cdn/fonts/metropolis/metropolis.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flow+Rounded&display=swap');


@import "bootstrap/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@import "scss/msu-standards.scss";
@import "scss/msu-overrides.scss";
@import "scss/variables.scss";
@import "scss/colors.scss";
@import "scss/typography.scss";
@import "scss/buttons.scss";
@import "scss/overlay-nav.scss";
@import "scss/uoe-base-styles.scss";
@import "scss/backgrounds.scss";
@import "scss/utilities.scss";
@import "scss/visual-accessibility.scss";

@import "scss/home.scss";
@import "scss/design.scss";
@import "scss/tags.scss";
