// **** THEME BUTTONS **** //

.btn-theme {
  border: 0 none;
  padding: 14px 16px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  text-decoration: none !important;

  &:hover, &:focus, &:active, &.active {
    text-decoration: none !important;
    outline: 0 none;
  }
}

.btn-theme-small {
    transform: scale(0.8);
    font-size: .95rem;
    transform-origin: left top;
    letter-spacing: .5px;
    padding: 14px 20px;
  }

.btn-theme-primary {
    background: $theme-primary;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: #007A3D;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-primary-dark;
    }
}

.btn-theme-secondary {
    background: $theme-secondary;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $theme-secondary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-secondary-dark;
    }
}

.btn-theme-tertiary {
    background: $theme-tertiary;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $theme-tertiary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-tertiary-dark;
    }
}

.btn-theme-accent {
    background: $theme-accent;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $theme-accent;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-accent-dark;
    }
}

.btn-theme-syp-red {
    background: $syp-red;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $syp-red;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px darken($syp-red, 15%);
    }
}

.btn-theme-syp-orange {
    background: $syp-orange;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $syp-orange;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px darken($syp-orange, 15%);
    }
}

.btn-theme-syp-yellow {
    background: $syp-yellow;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $syp-yellow;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px darken($syp-yellow, 15%);
    }
}

.btn-theme-syp-green {
    background: $syp-lime;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $syp-lime;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px darken($syp-lime, 17%);
    }
}

.btn-theme-syp-blue {
    background: $syp-blue;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $syp-blue;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px darken($syp-blue, 15%);
    }
}

.btn-theme-syp-purple {
    background: $syp-purple;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $syp-purple;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px darken($syp-purple, 15%);
    }
}

.btn-theme-syp-gray {
    background: $gray-light;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $gray-light;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px darken($gray-light, 15%);
    }
}

.btn-theme-syp-link {
    background: $syp-green;
    color: $msu-green;

    &:hover, &:focus, &:active, &.active {
        background: #FFFFFF;
        color: $msu-green;
        box-shadow: 0 0 0 5px $msu-green;
    }
}



.btn-theme-reversed {
    background: #FFFFFF;
    color: $theme-primary;

    &:hover, &:focus, &:active, &.active {
        background: $theme-primary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px #FFFFFF;
    }
}

// **** OUTLINE BUTTONS **** //

.btn-theme-outline {
  padding: 12px 20px;
  border-radius: 8px;
  border: 3px solid;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover, &:focus, &:active, &.active {
    text-decoration: none !important;
    outline: 0 none;
  }
}

.btn-theme-outline-primary {
    border-color: $theme-primary;
    color: $theme-primary;


    &:hover, &:focus, &:active, &.active  {
        background: $theme-primary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-primary-dark;
    }
}

.btn-theme-outline-secondary {
    border-color: $theme-secondary;
    color: $theme-secondary;


    &:hover, &:focus, &:active, &.active  {
        background: $theme-secondary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-secondary-dark;
    }
}

.btn-theme-outline-tertiary {
    border-color: $theme-tertiary;
    color: $theme-tertiary;


    &:hover, &:focus, &:active, &.active  {
        background: $theme-tertiary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-tertiary-dark;
    }
}

.btn-theme-outline-accent {
    border-color: $theme-accent;
    color: $theme-accent;


    &:hover, &:focus, &:active, &.active  {
        background: $theme-accent;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-accent-dark;
    }
}


.btn-theme-outline-reversed {
    border-color: #FFFFFF;
    color: #FFFFFF;

    &:hover, &:focus, &:active, &.active  {
        background: #FFFFFF;
        color: $theme-primary;
        box-shadow: 0 0 0 5px $theme-primary-dark;
    }
}

.btn-theme-outline-views {
    border-color: $gray-light;
    color: $gray-light;

    &:hover, &:focus, &:active, &.active  {
        background: #FFFFFF;
        color: $theme-primary;
        box-shadow: 0 0 0 5px $theme-primary-dark;
    }
}

// **** SOCIAL BUTTONS **** //

.btn-theme-social {
    border: 0 none;
    padding: 14px 24px;
    font-weight: 800;
    letter-spacing: 1px;
    width: 24px;
    height: 36px;
    font-size: 115%;
    text-transform: uppercase;
    border-radius: 80px;
    background: $theme-accent;
    color: #ffffff;
    
    img {
        height: 18px;
        width: 18px;
    }

    &:hover, &:focus, &:active, &.active {
        background: $theme-accent-dark;
        color: #FFFFFF;
        outline:  0 none;
        text-decoration: none !important;
    }

}

.facebook {
  background-color: $facebook;
  border: 5px solid $gray-lighter;

  &:hover, &:focus, &:active, &.active {
      background: darken($facebook, 20%);
      color: #FFFFFF;
      border: 5px solid lighten($facebook, 10%);
  }
}

.youtube {
  background-color: $youtube;
  border: 5px solid $gray-lighter;

  &:hover, &:focus, &:active, &.active {
      background: darken($youtube, 20%);
      color: #FFFFFF;
      border: 5px solid lighten($youtube, 10%);
  }
}

.twitter {
  background-color: #000;
  border: 5px solid $gray-lighter;

  &:hover, &:focus, &:active, &.active {
      background: darken($twitter, 20%);
      color: #FFFFFF;
      border: 5px solid lighten($twitter, 10%);
  }
}

.instagram {
  background-color: $instagram;
  border: 5px solid $gray-lighter;

  &:hover, &:focus, &:active, &.active {
      background: darken($instagram, 20%);
      color: #FFFFFF;
      border: 5px solid lighten($instagram, 10%);
  }
}
