// Framework Colors
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #0275d8;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// Global Colors
//

$twitter:                   #1da1f2;
$facebook:                  #3b5998;
$youtube:                   #ff0000;
$instagram:                 #c32aa3;
$rss:                       #F4911E;
$linkedin:                  #007bb5;
$snapchat:                  #fffc00;
$google:                    #4285f4;

$msu-green:                 #18453B;

// Theme Colors
// Custom Brand Colors for Site.

// In case you need more than three theme colors
// quaternary, quinary, senary, septenary, octonary, nonary, denary

/* RGB */
$color1: rgba(24, 69, 59, 1);
$color2: rgba(137, 216, 97, 1);
$color3: rgba(66, 86, 79, 1);
$color4: rgba(242, 240, 218, 1);
$color5: rgba(255, 255, 255, 1);
$color6: rgba(105, 72, 115, 1);

$syp-blue:          rgba(3, 165, 219, 1.0);
$syp-green:         rgba(176, 209, 53, 1.0);
$syp-lime:          rgba(141, 198, 63, 1.0);
$syp-yellow:        rgba(247, 160, 29, 1.0);
$syp-orange:        rgba(239, 90, 37, 1.0);
$syp-red:           rgba(230, 28, 77, 1.0);

$syp-purple:        rgba(125, 87, 154, 1.0);

$syp-gray: $gray-lighter;

$syp-light-blue:    rgba(154, 219, 241, 1.0);
$syp-light-green:   rgba(141, 198, 63, 1.0);
$syp-light-yellow:  rgba(252, 217, 165, 1.0);
$syp-light-orange:  rgba(249, 189, 168, 1.0);
$syp-light-red:     rgba(245, 164, 184, 1.0);

$syp-light-purple:  rgba(238, 207, 249, 1.0);

$syp-pale-blue:     rgba(204, 237, 248, 1.0);
$syp-pale-green:    rgba(239, 246, 214, 1.0);
$syp-pale-yellow:   rgba(253, 236, 210, 1.0);
$syp-pale-orange:   rgba(253, 236, 210, 1.0);
$syp-pale-red:      rgba(250, 209, 219, 1.0);

$syp-pale-purple:   rgba(245, 230, 245, 1.0);

$msu-green:                 $color1;

$theme-primary:             $color1;
$theme-primary-light:       lighten($theme-primary, 15%);
$theme-primary-dark:        darken($theme-primary, 15%);
$theme-primary-faded:       rgba(3, 144, 159, 0.3);

$theme-secondary:           $color2;
$theme-secondary-dark:      darken($theme-secondary, 10%);

$theme-tertiary:            $color3;
$theme-tertiary-dark:       darken($theme-tertiary, 5%);

$theme-accent:            	$syp-red;
$theme-accent-dark:       	darken($theme-accent, 15%);

$theme-link-color:          $theme-primary;
$theme-link-color-dark:     darken($theme-link-color, 15%);

$theme-link-highlight:      $color2;

$faded-green:               rgba(128, 171, 162, 1);
$faded-green-30:            rgba(128, 171, 162, 0.3);

$theme-gradient: linear-gradient(60deg, #03A5DB 5%, #B0D135 30%, #F7A01D 50%, #EF5A25 75%, #E61C4D 100%);

$theme-gradient-warm: linear-gradient(90deg, #F7A01D 0%, #EF5A25 50%, #E61C4D 100%);
$theme-gradient-cool: linear-gradient(90deg, #03A5DB 0%, #B0D135 100%);
$theme-gradient-cool-warm: linear-gradient(90deg, #03A5DB 0%, #B0D135 50%, #F7A01D 100%);

$dualenrollment-gradient: linear-gradient(0deg, rgba(0,125,125,1) 0%, rgba(35,170,96,1) 100%);

// Profile Colors
// Colors specifically for the profile header section on the
// individual people pages

$profile-bg:               	transparent;
$profile-heading-color:     $theme-accent;
$profile-text-color:        $gray;
$profile-email-bg:          $theme-primary-dark;
$profile-email-text-color:  white;
$profile-email-link-color:  white;

// Logo Colors
// Site logo is an SVG and fill colors are set here

.cls-1,.cls-2 {fill:#FFFFFF;}
.cls-2 {opacity:0.5;}

@media print {
    .cls-1 {fill:#000000;}
    .cls-2 {fill:#AAAAAA;}
}

.disabled > a {
    color: $theme-primary-dark !important;
    &:hover {color: $theme-primary !important;}
}
