@media (min-width: 1628px){
  .site-header, .site-content, .site-footer, .uoe-footer {
    width: 1628px !important;
    margin: 0 auto;
  }
}

.site-header {
  background-color: #FFF;
  z-index: 1000;
  position: relative;
  
  // padding-bottom: 30px;

  // border-bottom: 5px solid;
  // border-image-slice: 1;
  // border-image-source: $theme-gradient;
}

.page-title {
  position: relative;
}

.grade-header {
  @media (max-width: 325px) {
    display: none;
    height: 0;
  }

  background: $theme-gradient-cool;
  @include media-breakpoint-up(md){background: $theme-gradient-cool-warm;}
  @include media-breakpoint-up(lg){background: $theme-gradient;}
  color: #fff;
  padding: 8px 0;
  

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    @include media-breakpoint-up (md){
      flex-direction: row;
    }
  }

  p {
    margin: 0 4px;
    font-weight: bold;
  }

  a {
    font-weight: bold !important;
  }

  .grade-header-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;

    li {
      padding: 0;
      margin: 0;
      display: block;
    }

    .btn{
      font-size: .6rem;
      padding: 6px;
      margin: 4px;
      border-radius: 50px;

      @include media-breakpoint-up(md){
        font-size: .7rem;
      }
    }

  }
}



.site-nav {
  position: relative;
  z-index: 1000;
  padding: 12px;
  display: block;
  @include media-breakpoint-up(lg){display: flex;}

  .nav-link{
    font-weight: bold;
  }

  li {
    @include media-breakpoint-down(md){border-bottom: 1px solid #444;}

    a {
    	//color: white;
    	font-weight: 700;
    	//font-size: 14px;
      padding: 4px 10px;
      margin-right: 2px;
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(xl){margin-right: 10px;}

      text-decoration: none !important;
      display: flex;
      align-items: center;

      &:hover, &:focus {
        background-color: $theme-primary;
        @include media-breakpoint-down(md){ background-color: transparent !important; }
        color: white;
        position: relative;
        z-index: 1;

        &::before { color: inherit; }
        &::after { color: inherit; }
      }

      &.active {
        background-color: $theme-primary-light !important;
        color: white;
        border-radius: 8px;

        &:hover, &:focus {
          background-color: $theme-primary-dark;
          color:white;
        }
      }
    }

    &:last-child {
      a {margin-right: 0;}
    }
  }

  // li.show {
  //   a {
  //     &:hover, &:focus {
        
  //     }
  //   }
  // }

  .dropdown-menu {
    background-color: $theme-primary-dark !important;
    border: none !important;
    padding: 15px 10px;
    top: 0px !important;
    width: calc(100% - 26px) !important;
    position: relative;

    span {
      display: block;

      a {
        color: white;
      }

      a[href="#"]{
        opacity: .5;
      }
    }

    @include media-breakpoint-up(md){
      top: 6px !important;
      width: auto !important;
      border-top: none !important;
    }
  }

  .dropdown-item {
    &:hover, &:focus {
      background-color: $theme-primary !important;
    }
  }
}

.dm-target{
  @include media-breakpoint-down(md){
    margin-left: 15px;
  }
}

.page-header {
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #d1d1d1;
  
  @include media-breakpoint-up(sm){
    h1 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.header-content {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @include media-breakpoint-up(md){
    padding-left: 30px;
    padding-right: 30px;
  }
}

.share_btn {
  position: relative;
  margin-top: 15px;
  padding-left: 20px;

  @include media-breakpoint-up(sm){
    margin-top: -60px;
    left: 0;
  }
  
  .btn-theme {
    font-size: .7rem;
    margin: 0 5px;
    padding: 8px 10px;
    
    @include media-breakpoint-up(sm){
      font-size: .8rem;
      transform-origin: top right;
      position: relative;
      left: -20px;
    }
  }
}

/***** THEMED HEADERS *****/

.themed_header {
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: none;
  color: white;
  
  h1, h2 {
    color: white !important;
  }

  @include media-breakpoint-up(md){
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.summer-programs-header {
  background: url("/Content/Images/syp-bg-shapes-2.svg"), $syp-orange;
  background-size: cover !important;

  @extend .themed_header;
}

.places-to-visit-header, .places-section-header {
  background: url("/Content/Images/syp-bg-shapes-3.svg"), $syp-lime !important;
  background-size: cover !important;
  
  @extend .themed_header;
}

.virtual-resources-header {
  background: url("/Content/Images/syp-bg-shapes-1.svg"), $syp-purple;
  background-size: cover !important;
  
  @extend .themed_header;
}

.search-by-grade-header, .program-section-header {
  background: url("/Content/Images/syp-bg-shapes-2.svg"), $syp-blue !important;
  background-size: cover !important;
  
  @extend .themed_header;
}

.search-by-topic-header {
  background: url("/Content/Images/syp-bg-shapes-1.svg"), $syp-red;
  background-size: cover !important;
  
  @extend .themed_header;
}

.dual-enrollment-header {
  background: url("/Content/Images/syp-bg-shapes-1.svg"), $dualenrollment-gradient;
  background-size: cover !important;
  
  @extend .themed_header;
}

.page-content {
  padding: 0 20px;
  margin-bottom: 30px;

  @include media-breakpoint-up(md){
    width: 90%;
  }
}


/***** DESIGN *****/

.program-match {
  background-color: $gray-lighter;
  background-image: url("/Content/Images/syp-bg-shapes-1.svg");
  background-size: 600px;
  background-position: center -200px;
  padding: 50px;
  margin: 15px;
  margin-top: 30px;
  width: calc(100% - 30px);
  border-radius: 8px;  
  text-align: center;

  @include media-breakpoint-up(lg){
    margin-top: -70px;

    h2 {
      text-align: left;
    }
  }

  @include media-breakpoint-up(xl){
    h2{margin-left: 60px;}
  }

  @include media-breakpoint-up(xxl){
    h2{margin-left: 100px;}
  }

  .program-match-form {

      display: flex;
      align-items: center;
      justify-content: center;
    

    label {
      font-size: 13px;
    }

    select { 
      appearance: none;
      border: none;
      border-radius: 8px;
      padding: .375rem 2.25rem .375rem .75rem;
      min-width: 240px;
      max-width: 240px;

      background-color: $gray-lighter;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right .75rem center;
      background-size: 16px 12px;

      @include media-breakpoint-up (md){
        // margin-left: 10px;
        // margin-right: 10px;
        min-width: auto;
      }

      @include media-breakpoint-up (lg){
        // margin-left: 10px;
        // margin-right: 10px;
        min-width: 100%;
      }
    }
  
    .select-grades {
      background-color: $syp-blue;
      color: white;
      font-weight: 500;

      &:hover, &:focus {
        box-shadow: 0 0 0 4px darken($syp-blue, 15%);
      }
    }
    
    .select-topics {
      background-color: $syp-red;
      color: white;
      font-weight: 500;

      &:hover, &:focus {
        box-shadow: 0 0 0 4px darken($syp-red, 15%);
      }

      @include media-breakpoint-up (md){
        //max-width: 250px;
      }
    }

    .select-date{
      appearance: none;
      border-radius: 8px;
      border: none;
      padding: .375rem 0rem;
      font-size: 14px;
      text-align: center !important;
      min-width: 120px;
      max-width: 120px;
      min-height: 40px;
      margin: 0 5px;
      background-color: white;
      color: black;
      
      &:hover, &:focus {
        box-shadow: 0 0 0 4px darken($syp-gray, 35%);
      }
    }

    .submit-btn {
      @include media-breakpoint-up(lg){
        min-width: 100%;
      }
    }

    .grade-input{min-width: 220px;}
    .submit-input{max-width: 150px;}
  }
}

input::-webkit-datetime-edit {
  -webkit-flex: 1;
  -webkit-user-modify: read-only !important;
  display: inline-block;
  min-width: 0;
  overflow: hidden;
  text-align: center;
}

/***** RESOURCE VIEW STYLES *****/
// These styles control how the resources look on the search results pages. 

.resource-data {
 //margin-top: 30px;
  margin-bottom: 60px;

  .resource {
    border-radius: 8px;
    padding: 20px 10px;
    background-color: #f9f9f9;
    margin-bottom: 30px;
  }

  header {    
    display: block;
    padding: 12px 18px;
    margin-left: -10px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: $syp-green;
    
    h2 {
      margin: 0;
      font-size: 2.5rem;
      color: $msu-green;
    }
  }
   
  h2 {
    font-size: 24px;
    a {color: $theme-primary;}
  }
  
  ul.tags {
    list-style-type: none;
    margin: 0;
    padding: 6px 0px;

    li {
      display: inline-block;
      margin-right: 15px;
  
      &.tag {margin-right: 5px;}
    }
  }

  

  p {
    margin-bottom: 0;
    padding-top: 5px;
    margin-top: 5px;
    color: rgb(118, 118, 118);
  }

  i {opacity: 40%;}

  .btn {
    margin-top: 5px;
    transform: scale(.65);
    transform-origin: left;
  }
}

.blurb-short {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  border-top: .5px solid $gray-light;
}

.resource-info {
  padding: 20px;
  background-color: $syp-pale-green;
  border-radius: 10px;

  h3 {color: black;}
}


/***** VIEW STYLES *****/
// These styles control the search results views. 
// Classes are applied and removed with Javascript to change how much data is visible.


.views {
  text-align: right;
  transform: scale(.7);
  transform-origin: top right;

  .btn {
    font-size: .7rem;
    margin: 0 5px;
    padding: 8px 2px;
  }
}

.resource-view-normal {
  .resource-img, .resource-img img {max-width: 260px; min-height: 195px;}
  .blurb-short{display: -webkit-box;}
}

.resource-view-small {
  .resource-img, .resource-img img {max-width: 160px; min-height: 120px;}
  .blurb-short{display: none;}
}

.resource-view-tiny {
  .tags, .resource-img, .blurb-short {display: none !important;}
  h2 {font-size: 20px;}
  .resource { margin-bottom: 15px;}
}


/***** FILTER OPTIONS *****/
// This is the dropdown that shows when you press the filter button on results pages.
// It is colored on specialized serach pages and gray on generic pages.

.filter_btn {
  margin-bottom: 30px;

  .btn-theme {
    font-size: .7rem;
    margin: 0 5px;
    padding: 8px 10px;
    
    @include media-breakpoint-up(sm){
      font-size: .8rem;
      transform-origin: top right;
    }
  }
}

.filter-options{
  background-color: $gray-lighter;
  padding-top: 30px;
  padding-bottom: 30px;

  .btn {
    font-size: 12px;
    padding: 4px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 90%;
  }

  .btn-check:checked + .btn-theme-grade {
    background-color: $syp-blue;
    color: white;
  }

  .btn-check:checked + .btn-theme-topic {
    background-color: $syp-red;
    color: white;
  }

  .btn-check:checked + .btn-theme-features {
    background-color: #777;
    color: white;
  }

  .date-input {
    .select-date{
      appearance: none;
      border-radius: 8px;
      border: none;
      padding: .375rem 0rem;
      font-size: 12px;
      font-weight: bold;
      text-align: center !important;
      min-width: 120px;
      max-width: 120px;
      min-height: 40px;
      margin: -1 5px 0 5px;
      background-color: white;
      color: black;
      box-shadow: 0 0 0 2px darken($syp-gray, 15%);
  
      &:hover, &:focus {
        box-shadow: 0 0 0 4px darken($syp-gray, 35%);
      }
    }
  }

  h2 {
    font-size: 1rem;
  }
}

.summer-programs .filter-options {
  background-color: $syp-pale-orange;
}

.places-to-visit .filter-options {
  background-color: $syp-pale-green;
}

.virtual-resources .filter-options {
  background-color: $syp-pale-purple;
}

.search-by-grade .filter-options {
  background-color: $syp-pale-blue;
}

.search-by-topic .filter-options {
  background-color: $syp-pale-red;
}


/***** GUIDES *****/
// This is to style a center line guide for design purposes.
// It is not needed in final production.

.center-line {
  width: 2px;
  background-color: aqua;
  height: 100vh;
  position: fixed;
  z-index: 1000000000;
  left: 50%;
  opacity: 50%;
}