// #INTRO

.homepage-intro {
    position: relative;
    min-height: 800px;

    @include media-breakpoint-up(sm){min-height: 500px;}
    display: flex;
    align-content: center;
    align-items: center;

    div {
        align-content: center;
        align-items: center;
    }

    p {
        width: 90%;
        font-size: 19px;
    }

}

.intro-text {
    display: inline-block;
    font-size: 32px;
    line-height: 32px;    
    text-transform: none !important;
    
    @include media-breakpoint-up(sm){
        margin-top: 40px;
    }

    @include media-breakpoint-up(lg){
        font-size: 36px;
        line-height: 36px;
    }

    @include media-breakpoint-up(xl){
        font-size: 42px;
        line-height: 42px;
    }

    @include media-breakpoint-up(xxl){
        font-size: 48px;
        line-height: 48px;
    }
}

.intro-image {
    padding: 0;
    position: relative;
}

.syp-search-feature {
    padding: 50px;
    margin: 15px;
    border-radius: 8px;
    color: white;

    h2 { color: white; }
}

.homepage-grade {
    background-color: $syp-pale-blue;
    color: darken($syp-blue, 15%);
    
    h2 {color: darken($syp-blue, 15%);}
}

.homepage-topic {
    background-color: $syp-pale-red;
    color: darken($syp-red, 15%);

    h2 {color: darken($syp-red, 15%);}
}

.homepage-places {
    background-color: $syp-pale-green;
    color: darken($syp-lime, 17%);

    h2 {color: darken($syp-lime, 17%);}
}

.homepage-resources {
    background-color: $syp-pale-purple;
    color: darken($syp-purple, 17%);

    h2 {color: darken($syp-purple, 17%);}
}


.homepage-summer {
    background-color: $syp-pale-orange;
    color: darken($syp-orange, 10%);

    h2 {color: darken($syp-orange, 10%);}
}

.homepage-dualenrollment {
    background: $dualenrollment-gradient;
    color: white;
    margin-top: 60px;
    
    h2 {
        color: white;
    }
}

.de-image {
    background-image: url("/Content/Images/de-homepage-student.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.de-content {
    padding: 70px 20px;
}

.homepage-about {
    background-image: url("/Content/Images/syp-bg-shapes-3.svg");
    background-size: 600px;
    @include media-breakpoint-up(md){ padding: 60px; }
}

.about-content {
    padding: 40px 30px;
}