/* #MSU Masthead
================================================== */

#MSUheader {
	height: 60px;
}

#MSUmasthead {
  	width: 50%;
  	float: left;
  	position: relative;
	margin-top: 15px;
}

#MSUmasthead img.print-msugraphic {
	display: none;
}

/* Search Tool */

#MSUSearchTool form .hide {
	position: absolute;
	left: -9999px;
}

#MSUSearchTool {
	width: 50%;
	float: left;
	position: relative;
	margin-top: 18px;
}


#MSUSearchTool #search-tool-box {
	height: 28px;
	width: 319px;
	float: right;
	border: 1px solid #999999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	//font-family: 'Gotham SSm A', 'Gotham SSm B', arial, sans-serif;
}

#MSUSearchTool.white-fill #search-tool-box {
	background: #fff;
}

#MSUSearchTool.no-fill #search-tool-box {
	background: transparent;
}

#MSUSearchTool #btn_search {
	height: 26px;
	width: 34px;

	cursor: pointer;
	outline: 0px none;
	border: 0px none;
	float: right;
	margin: 0 auto;
	text-indent: -9999px;
	text-transform: capitalize;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}

#MSUSearchTool.white-fill #btn_search {
	background: #fff url("Images/icon-search.svg") no-repeat center;
}

#MSUSearchTool.no-fill #btn_search {
	background: transparent url("Images/icon-search-white.svg") no-repeat center;
}

#MSUSearchTool #btn_search:hover {
	-moz-box-shadow: inset 0 0px 60px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0px 60px rgba(0,0,0,0.3);
    box-shadow: inset 0 0px 60px rgba(0,0,0,0.3);
}

#MSUSearchTool input#q {
	width: 258px;
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	font-size: 12px;
	font-weight: normal;
	float: left;
	height: 28px;
	outline: none;
	padding-left: 12px;
	padding-top: 0px;
}

#MSUSearchTool input#q::-webkit-input-placeholder {
	//font-family: 'Gotham SSm A', 'Gotham SSm B', arial, sans-serif;
}

/* #MSU Footer
================================================== */
#MSUstandardFooter {
	height: 73px;
	//font-family: Gotham, 'Gotham SSm A', 'Gotham SSm B', arial, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

#MSUstandardFooter .fourMSUcolumns {
	width: 221px;
	float: left;
	position: relative;
	margin-right: 18px;
}


#MSUstandardFooter .fourMSUcolumns img {
	width: 100%;
	margin-top: 13px;
}

#MSUstandardFooter .twelveMSUcolumns {
	width: 700px;
	float: left;
	position: relative;
	margin: 5px 0px 0px 0px;
}

#MSUstandardFooter #standard-footer-site-links ul {
	margin: 0px;
	padding: 0px;
	padding-bottom: 3px;
	line-height: 14px;
	border-bottom: 1px dotted #808080;
	float: left;
	clear: right;
}

#MSUstandardFooter #standard-footer-site-links ul li {
	display: inline-block;
	padding-left: 4px;
	font-size: 12px;
}

#MSUstandardFooter #standard-footer-site-links ul li:first-child {
	padding-left: 0px;
}

#MSUstandardFooter #standard-footer-site-links ul li:last-child {
	border-right: none;
}

#MSUstandardFooter #standard-footer-site-links ul li {
	text-decoration: none;
	padding-right: 8px;
}

#MSUstandardFooter #standard-footer-site-links ul li a:hover {
	text-decoration: underline;
}

#MSUstandardFooter.light-background #standard-footer-site-links {
	color: #18453b;
}

#MSUstandardFooter.light-background #standard-footer-site-links li {
	color: #18453b;
	border-right: 1px solid #18453b;
}

#MSUstandardFooter.light-background #standard-footer-site-links ul li:nth-child(2) li {
	border-left: 1px solid #18354b;
}

#MSUstandardFooter.dark-background #standard-footer-site-links{
	color: #fff;
}

#MSUstandardFooter.dark-background #standard-footer-site-links ul li:nth-child(2) li {
	border-left: 1px solid #737373;
}

#MSUstandardFooter.dark-background #standard-footer-site-links li {
	color: #fff;
	border-right: 1px solid #737373;
}

#MSUstandardFooter #standard-footer-MSU-info {
	font-size: 9px;
	margin-top: 5px;
	padding-top: 0px;
	float: left;
	clear: right;
}

#MSUstandardFooter #standard-footer-MSU-info ul {
	margin: 0px;
	padding: 0px;
	line-height: 16px;
}

#MSUstandardFooter #standard-footer-MSU-info ul li {
	margin-bottom: 0px;
	line-height: 10px;
	display: inline;
	border-right: 1px solid #999;
	padding: 0px 4px 0px 4px;
}

#MSUstandardFooter #standard-footer-MSU-info ul li.spartans-will {
	text-transform: uppercase;
	font-weight: 600;
}

#MSUstandardFooter #standard-footer-MSU-info ul li:first-child {
	padding-left: 0px;
}

#MSUstandardFooter #standard-footer-MSU-info ul li:last-child {
	border-right: 0px;
	padding-left: 8px;
}

#MSUstandardFooter #standard-footer-MSU-info ul li a {
	text-decoration: none;
}

#MSUstandardFooter #standard-footer-MSU-info ul li a:hover {
	text-decoration: underline;
}

#MSUstandardFooter.light-background #standard-footer-MSU-info{
	color: #18453b;
}
#MSUstandardFooter.light-background #standard-footer-MSU-info a, #MSUstandardFooter.light-background #standard-footer-MSU-info .msu-phone {
	color: #4c7e00;
}


#MSUstandardFooter.dark-background #standard-footer-MSU-info{
	color: #fff;
}

#MSUstandardFooter.dark-background #standard-footer-MSU-info a, #MSUstandardFooter.dark-background #standard-footer-MSU-info .msu-phone {
	color: #84d123;
}


#standard-footer-MSU-wordmark img.print-msuwordmark {
	display: none;
}




/* #Print Styles
================================================== */
@media print {

	#MSUmasthead img.print-msugraphic, #standard-footer-MSU-wordmark img.print-msuwordmark {
		display: block;
	}

	#MSUmasthead img.screen-msugraphic, #standard-footer-MSU-wordmark img.screen-msuwordmark {
		display: none;
	}

	#MSUSearchTool #search-tool-box{

		margin-right: 12px;
	}

}
