@media (max-width: 990px) {
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  right: 0;
  top: 0;
  background-color: #252525;
  overflow-x: hidden;
  transition: 0.5s;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
  display: none;
  }

  .container {
    width: $overlay-width;
  }

  .unit-name.logo {
    color: white;
    text-align: left;
    width: 260px;
    height: 85px;
    margin-top: 15px;
    margin-bottom: 0px;
    left: 18px;
    top: 0;
  }

  #MSUmasthead {
    margin-top: -10px;
    margin-bottom: 6px;

    img {
      width: 240px;
    }
  }

  #MSUSearchTool {
    float: right;
    width: 100%;

    #search-tool-box {
      width: 100%;
    }

    input#q {
      color: white;
    }
  }
}

.overlay-open {
  width: 100%;
  @include media-breakpoint-down(lg) {width: $overlay-width;}
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  width: $overlay-width;
  text-align: left;
  margin-right: auto;
  margin-left: auto;

  nav {
    clear: both;
    border-top: 1px solid #555;
    position: relative;
    top: 30px;
    margin-bottom: 50px;
  }

  .dropdown-menu{
    width: $overlay-width;
    text-align: left;
    background-color: #000 !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 1px solid #555 !important;
  }
}

.overlay-content nav{
  font-size: 16px !important;
  padding: 10px !important;
  white-space: normal;
  color: white !important;
  float: none !important;

  .nav {
    @include media-breakpoint-down(lg){
      width: 100%;
      flex-direction: column;
    }
  }

  li a {
    color: white !important;
    @include media-breakpoint-down(lg){
      display: block;
    }
  }
}

.overlay-content {
  .nav .open{
    > a, > a:hover, > a:focus {
      color:white;
    }
  }
}

.closebtn {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  display: inline-block;
  color: white;
  opacity: 0.8;
  padding: 5px;
  text-decoration: none;

  &:hover, &:focus {
    opacity: 1;
    color: white;
    text-decoration: none;
    outline: 3px solid white;
  }

  svg {
    position: relative;
    top: -1px;
  }
}

.closebtn-bottom {
  padding-bottom: 65px;
  border-top: 1px solid #555;
}
}
