$grade-tag-color:     $syp-blue;
$topic-tag-color:     $syp-red;
$feature-tag-color:   $gray-light;

.catalog-view-search .tags {
  padding-left: 0;
  list-style: none;

  li {
    margin-bottom: 10px;
  }

  label {
    width: 100%;
  }
}

.catalog-view-item .tags {
  padding-left: 0;
  list-style: none;

  li {
    display: inline;
    font-weight: 500;

    @include media-breakpoint-up(md){
      display: inline;
    }
  }
}

.tag {
  label {
    text-align: center;
    display: flex !important;
    justify-content: center;
  }

  .btn, .tag-item {
    border-width: 2px;
    margin: 5px 0px;
    display: block;
    font-size: $font-size-base * .9;
    font-weight: 700;
  }
}

// Define a smaller button for tags
.btn-tag {
  @include button-size(0.2rem, 0.4rem, $font-size-base * .7, $line-height-sm);
  border-width: 2px;
  border-radius: 4px;
  margin-bottom: 10px;
}

// Colors for tags
$tag-colors: (
    "grade":      $grade-tag-color,
    "topic":      $topic-tag-color,
    "feature":    $feature-tag-color,
);

@each $name, $value in $tag-colors {
  .btn.btn-tag-#{$name}, .tag-#{$name} {
    @include button-variant($value, $value);
    a { color:#fff; }
  }

  .btn.btn-outline-tag-#{$name} {
    @include button-outline-variant($value);
  }

  .tag-outline-#{$name} {
    padding: 0px 6px;
    color: darken($value, $amount: 5%);
    font-weight: 700;
    border-color: $value;
    border-width: 2px;
    border-style: solid;
    line-height: 1.5rem;
    font-size: $font-size-base * .6 !important;

    i {color: $value; opacity: 100%;}
  }

  .btn-check:checked + .btn-outline-tag-#{$name} {
    background-color: $value;
    color: #fff;
  }

  .btn.btn-outline-tag-#{$name} {
    &:hover, &:focus, &:active, &.active  {
      color: #fff;
      background-color: $value;
      box-shadow: 0 0 0 5px darken($value, 20%);
    }
  }
}