$metropolis: 'Metropolis', sans-serif;
.metropolis {font-family: $metropolis;}

$montserrat: 'Montserrat', sans-serif;
.montserrat {font-family: $montserrat;}

$figtree: 'Figtree', sans-serif;
.figtree {font-family: $figtree;}

$geologica: 'Geologica', sans-serif;
.geologica {font-family: $geologica;}

$flow: 'Flow Rounded', cursive;
.flow {font-family: $flow;}

$source-serif: 'source-serif-pro', serif;
.source-serif-pro {font-family: $source-serif;}

body {
	font: 16px/28px $metropolis;
	color: $gray-dark;
	// font-optical-sizing: auto;
	font-weight: 400;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

h1 {
	font: 48px/34px; ;
	color: $msu-green;
}

h2 {
	font: 30px/32px;
	//color: $theme-primary;
	color: $gray-dark;
}

h3 {
	color: $theme-primary;
}

h4 {
	color: lighten($gray, $amount: 5%);
}

.fax a {
    color: $gray !important;
}

abbr {
	text-decoration: none;
}

.fw-300 { font-weight: 300 !important;}
.fw-400 { font-weight: 400 !important;}
.fw-500 { font-weight: 500 !important;}
.fw-600 { font-weight: 600 !important;}
.fw-700 { font-weight: 700 !important;}
.fw-800 { font-weight: 800 !important;}


.text-syp-blue {color: $syp-blue;}

.text-syp-green {color: $syp-lime;}

.text-syp-yellow {color: $syp-yellow;}

.text-syp-orange {color: $syp-orange;}

.text-syp-red {color: $syp-red;}